<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="initial-scale=1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    @Styles.Render("~/Content/css")
</head>
<body layout="row" layout-fill>
    @RenderBody()

    @Scripts.Render("~/bundles/vendor")
    @RenderSection("scripts", required: false)
</body>
</html>
